node_modules
.next
coverage
dist
*.config.js
*.config.ts
public
.vercel
*.tsbuildinfo
.env*
!.env.example
prisma/migrations
tests/reports
logs
startup.sh
*.sql
*.db
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.ico